//
//  Staging.xcconfig
//
//  Created by Kamel on on 22/12/2022.
//  Copyright © 2022 sha. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

APP_NAME = $(inherited)-Staging

BASE_BUNDLE_IDENTIFIER = $(inherited).staging

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon.staging

API_BASE_URL = https:/$()/api.rawg.io/api/games

API_KEY = 3be8af6ebf124ffe81d90f514e59856c